configuration {
    font: "JetBrainsMono Nerd Font 14";
}


window {
    background: #001a4d;
    border-radius: 10px;
    border: 2px;
    width: 30%;
    padding: 20px;
    location: center;
    anchor: center;
}

listview {
    lines: 5;
    spacing: 15px;
    scrollbar: false;
}

element {
    padding: 10px;
    border-radius: 8px;
}

element selected {
    background-color: #663399;
    color: #cdd6f4;
}

prompt {
    enabled: true;
    padding: 0px;
}
