/* RESET GLOBAL */
* {
  border: none;
  font-family: "JetBrains Mono Nerd", monospace;
  font-weight: 600;
  font-size: 16px;
  min-height: 0;
  padding: 0 6px;
}

/* BARRE GLOBALE */
window#waybar {
  background-color: #0f1624; /* background */
  padding: 0 8px;
  border-radius: 8px; 
}

/* ESPACEMENT ENTRE BLOCS */
.modules-left,
.modules-center,
.modules-right {
  margin: 0 6px;
}

/* WORKSPACES */
#workspaces button {
  padding: 0 10px;
  background: transparent;
  color: #c3c4c8; /* foreground */
  border-radius: 6px;
}

#workspaces button:hover {
  background-color: #c3c4c8; /* foreground */
  color: #0f1624; /* background */
  min-width: 50px;
  box-shadow: 0 2px 6px rgba(195, 196, 200, 0.1); /* foreground en alpha */
  margin: 3px 3px;
}

#workspaces button.active {
  background-color: #0F63DF; /* color5 (bleu saturé) */
  color: #c3c4c8; /* foreground */
  font-size: 18px;
  min-width: 30px;
  box-shadow: 0 2px 6px rgba(15, 99, 223, 0.2);
  margin: 3px 3px;
}

/* MODULES GÉNÉRAUX */
#cpu, #memory, #temperature, #pulseaudio, #backlight,
#battery, #clock, #tray, #custom-power {
  background: none;
  color: #c3c4c8; /* foreground */
  border-radius: 6px;
  padding: 0 8px;
}

/* SURVOL MODULES */
#cpu:hover, #memory:hover, #temperature:hover, 
#pulseaudio:hover, #battery:hover, #clock:hover, #custom-power:hover {
  color: #0F63DF; /* color5 */
  background-color: rgba(15, 99, 223, 0.08); /* color5 en alpha */
}

/* COULEURS SPÉCIFIQUES */
#cpu { color: #5069A0; }       /* color4 */
#memory { color: #51566C; }    /* color1 */
#temperature { color: #2B559C; } /* color2 */
#pulseaudio { color: #c3c4c8; } /* foreground */
#pulseaudio.muted { color: #5e6574; } /* color8 */
#battery.good { color: #0F63DF; } /* color5 */
#battery.warning { color: #987C82; } /* color6 */
#battery.critical { color: #FF4444; } /* garde du rouge vif hors palette */
#clock { color: #c3c4c8; } /* foreground */

/* BOUTON POWER */
#custom-power {
  font-size: 18px;
  color: #987C82; /* color6 */
}
#custom-power:hover {
  color: #c3c4c8; /* foreground */
}

/* TOOLTIP */
tooltip {
  background: #0f1624; /* background */
  color: #c3c4c8; /* foreground */
  padding: 4px 10px;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
}

/* MENU DU TRAY */
#tray menu {
  background-color: #0f1624; /* background */
  color: #c3c4c8; /* foreground */
  border-radius: 6px;
  padding: 6px 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
}
