* {
  border: none;
  font-family: "JetBrain Mono Nerd", monospace;
  font-weight: 900;
  font-size: 14px;
  min-height: 0;
  padding: 2px;
  color: #eaeaea;
}

/* BARRE GLOBALE */
window#waybar {
  background-color: transparent;
  border-radius: 15px;
  padding: 5px;
}

/* ESPACE ENTRE LES ZONES */
.modules-left,
.modules-center,
.modules-right {
  margin: 0 6px;
  border-radius: 8px;
}

/* WORKSPACES */
#workspaces button {
  padding: 5px 10px;
  border-radius: 6px;
  margin: 2px 3px;
  background-color: rgba(10, 10, 10, 0.85);
  color: #ffffff;
  border: 2px solid #333;
}

/* TOOLTIP */
tooltip {
  background: #111;
  color: #f0f0f0;
  border-radius: 5px;
  padding: 6px 10px;
}

/* ICONES SPÉCIALES */
#pulseaudio.muted {
  color: #aaaaaa;
}

#battery.critical {
  background: #111;
  color: #ffffff;
  border: 2px solid #444;
}

/* CLOCK */
#clock {
  font-weight: bold;
}

/* BOUTON POWER */
#custom-power {
  color: #ffffff;
  font-weight: bold;
  padding: 0px 10px;
  border: 2px solid #444;
  border-radius: 8px;
  font-size: 22px;
  background-color: rgba(15, 15, 15, 0.85);
}

/* MODULES CLASSIQUES */

#battery , #backlight,
#hardware, #audio,
 #window, #clock {
  background-color: rgba(15, 15, 15, 0.85);
  color: #eaeaea;
  padding: 0px 10px;
  border-radius: 8px;
  border: 2px solid #444;
}

/* RESSOURCES SYSTÈME */
#cpu, #memory, #temperature {
  color: #cccccc;
}

/* TRAY CONTEXT MENU */
#tray menu {
  border-radius: 15px;
  background-color: rgba(5, 5, 5, 0.95);
  color: #eeeeee;
  font-size: 14px;
}
