/* RESET GLOBAL */
@import url("/home/destycoon/.cache/wal/colors-waybar.css");

* {
  border: none;
  font-family: "JetBrains Mono Nerd", monospace;
  font-weight: 600;
  font-size: 16px;
  min-height: 0;
  padding: 0 6px;
}

/* BARRE GLOBALE */
window#waybar {
  background-color: alpha(@background , 0.50); 
  padding: 0 8px;
  border-radius: 8px; 
}

/* ESPACEMENT ENTRE BLOCS */
.modules-left,
.modules-center,
.modules-right {
  margin: 0 6px;
}

/* WORKSPACES */
#workspaces button {
  padding: 0 10px;
  background: transparent;
  color: @foreground; 
  border-radius: 6px;
}

#workspaces button:hover {
  background-color: @foreground; 
  color: @background; 
  min-width: 50px;
  box-shadow: 0 2px 6px rgba(255, 255, 255, 0.1); 
  margin: 3px 3px;
}

#workspaces button.active {
  background-color: @color5; 
  color: @background; 
  font-size: 18px;
  min-width: 30px;
  box-shadow: 0 2px 6px rgba(15, 99, 223, 0.2);
  margin: 3px 3px;
}

/* MODULES GÉNÉRAUX */
#cpu, #memory, #temperature, #pulseaudio, #backlight,
#battery, #clock, #tray, #custom-power {
  background: none;
  color: @foreground; 
  border-radius: 6px;
  padding: 0 8px;
}

/* SURVOL MODULES */
#cpu:hover, #memory:hover, #temperature:hover, 
#pulseaudio:hover, #battery:hover, #clock:hover, #custom-power:hover {
  color: @color5; 
  background-color: rgba(15, 99, 223, 0.08); 
}


#cpu { color: @color4; }
#memory { color: @color1; }
#temperature { color: @color2; }
#pulseaudio { color: @foreground; }
#pulseaudio.muted { color: @color8; }
#battery.good { color: @color5; }
#battery.warning { color: @color6; }
#battery.critical { color: #FF4444; } 
#clock { color: @foreground; }

/* BOUTON POWER */
#custom-power {
  font-size: 18px;
  color: @color6;
}
#custom-power:hover {
  color: @foreground;
}

/* TOOLTIP */
tooltip {
  background: @background;
  color: @foreground;
  padding: 4px 10px;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
}

/* MENU DU TRAY */
#tray menu {
  background-color: @background;
  color: @foreground;
  border-radius: 6px;
  padding: 6px 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
}
