* {
  font-family: "JetBrainsMono Nerd Font", sans-serif;
  font-size: 16px;
  color: #c3c4c8; /* texte clair */
  background: none;
  box-shadow: none;
}

window {
  background-color: rgba(15, 22, 36, 0.95); /* fond sombre #0f1624 */
  border-radius: 12px;
  padding: 10px;
  /*border: 2px solid #2F53A5; /* bleu profond */
}

#input {
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  background-color: #51566C; /* gris foncé */
  color: #c3c4c8;
  border: none;
}

#inner-box, #outer-box, #scroll {
  margin: 0;
  padding: 0;
  border: none;
}

#entry {
  padding: 10px 14px;
  margin: 6px 10px;
  border-radius: 8px;
  background-color: transparent;
  transition: background-color 0.2s ease-in-out;
}

#entry:selected {
  background-color: #0F63DF; /* bleu vif */
  color: #0f1624; /* fond sombre en texte pour contraste */
}

#text {
  margin-left: 10px;
  font-weight: 500;
}

#img {
  margin-left: 5px;
  margin-right: 10px;
}
