* {
  font-family: "JetBrainsMono Nerd Font", sans-serif;
  font-size: 16px;
  color: #eeeeee;
  background: none;
  box-shadow: none;
}

window {
  background-color: rgba(10, 10, 10, 0.95); /* Fond noir légèrement transparent */
  border-radius: 12px;
  padding: 10px;
  border: 2px solid #444; /* Bordure gris foncé */
}

#input {
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  background-color: #111;
  color: #ffffff;
  border: 1px solid #333;
}

#inner-box, #outer-box, #scroll {
  margin: 0;
  padding: 0;
  border: none;
}

#entry {
  padding: 10px 14px;
  margin: 6px 10px;
  border-radius: 8px;
  background-color: transparent;
  transition: background-color 0.2s ease-in-out;
  color: #dddddd;
}

#entry:selected {
  background-color: #222222;
  color: #ffffff;
}

#text {
  margin-left: 10px;
  font-weight: 500;
  color: inherit;
}

#img {
  margin-left: 5px;
  margin-right: 10px;
}
