/* RESET GLOBAL */
* {
  border: none;
  font-family: "JetBrains Mono Nerd", monospace;
  font-weight: 600;
  font-size: 16px;
  min-height: 0;
  padding: 0 6px;
}

/* BARRE GLOBALE */
window#waybar {
  background-color: #0A0A0A;
  padding: 0 8px;
  border-radius: 8px; 
}

/* ESPACEMENT ENTRE BLOCS */
.modules-left,
.modules-center,
.modules-right {
  margin: 0 6px;
}

/* WORKSPACES */
#workspaces button {
  padding: 0 10px;
  background: transparent;
  color: #EAEAEA; /* Gris moyen */
  border-radius: 6px;
}

#workspaces button:hover {
  background-color: #EAEAEA; /* Blanc pur */
  color: #0A0A0A;
  min-width: 50px;
  box-shadow: 0 2px 6px rgba(255, 255, 255, 0.1);
  margin: 3px 3px;
}

#workspaces button.active {
  background-color: #EAEAEA;
  color: #0A0A0A;
  font-size: 18px;
  min-width: 30px;
  box-shadow: 0 2px 6px rgba(255, 255, 255, 0.2);
  margin: 3px 3px;
}

/* MODULES GÉNÉRAUX */
#cpu, #memory, #temperature, #pulseaudio, #backlight,
#battery, #clock, #tray, #custom-power {
  background: none;
  color: #EAEAEA;
  border-radius: 6px;
  padding: 0 8px;
}

/* SURVOL MODULES */
#cpu:hover, #memory:hover, #temperature:hover, 
#pulseaudio:hover, #battery:hover, #clock:hover, #custom-power:hover {
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.05);
}

/* COULEURS SPÉCIFIQUES */
#cpu { color: #BFBFBF; }
#memory { color: #A9A9A9; }
#temperature { color: #CCCCCC; }
#pulseaudio { color: #EAEAEA; }
#pulseaudio.muted { color: #777777; }
#battery.good { color: #FFFFFF; }
#battery.warning { color: #BBBBBB; }
#battery.critical { color: #FF4444; }
#clock { color: #FFFFFF; }

/* BOUTON POWER */
#custom-power {
  font-size: 18px;
  color: #BBBBBB;
}
#custom-power:hover {
  color: #FFFFFF;
}

/* TOOLTIP */
tooltip {
  background: #0A0A0A;
  color: #FFFFFF;
  padding: 4px 10px;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
}

/* MENU DU TRAY */
#tray menu {
  background-color: #0A0A0A;
  color: #FFFFFF;
  border-radius: 6px;
  padding: 6px 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
}
